@use './mixins/mixins.scss' as *;
@use './themes/handle.scss' as *;

@include b(loading) {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
.loading {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.text {
  height: calc(100% - 70px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}
